In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd

file_path = './train.csv'

X_full = pd.read_csv(file_path)
X_full.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
y=X_full['Survived']
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [3]:
X_test=pd.read_csv('./testX.csv')

In [4]:
print(X_test)

     PassengerId  Pclass                                          Name  \
0            892       3                              Kelly, Mr. James
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
413         1305       3                            Spector, Mr. Woolf
414         1306       1                  Oliva y Ocana, Dona. Fermina
415         1307       3                  Saether, Mr. Simon Sivertsen
416         1308       3                           Ware, Mr. Frederick
417         1309       3                      Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked
0      male  34.5      0      0              330911    7.8292   NaN        Q
1    female  47.0      1      0              363272    7.0000   NaN        S
2      male  62.0      0      0              240276    9.6875   NaN        Q
3      male  27.0      0      0              315154    8.6625   NaN        S
4    female  22.0      1      1             3101298   12.2875   NaN        S
..      ...   ...    ...    ...                 ...       ...   ...      ...
413    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
414  female  39.0      0      0            PC 17758  108.9000  C105        C
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416    male   NaN      0      0              359309    8.0500   NaN        S
417    male   NaN      1      1                2668   22.3583   NaN        C

[418 rows x 11 columns]

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X_full, y, 
                                                                train_size=0.8, test_size=0.2,
                                                                random_state=0)

In [6]:
cols_with_missing = [col for col in X_train.columns
                     if X_train[col].isnull().any()]

In [7]:
print(cols_with_missing)

['Age', 'Cabin', 'Embarked']

In [9]:
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(X_train))
imputed_X_valid = pd.DataFrame(my_imputer.transform(X_valid))

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [10]:
del X_train['Cabin']

In [12]:
del X_valid['Cabin']

In [13]:
print(cols_with_missing)

['Age', 'Cabin', 'Embarked']

In [14]:
X_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,C
439,440,0,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.0,0,0,C.A. 18723,10.5000,S
817,818,0,2,"Mallet, Mr. Albert",male,31.0,1,1,S.C./PARIS 2079,37.0042,C
378,379,0,3,"Betros, Mr. Tannous",male,20.0,0,0,2648,4.0125,C
491,492,0,3,"Windelov, Mr. Einar",male,21.0,0,0,SOTON/OQ 3101317,7.2500,S

In [50]:
cols_with_missing = [col for col in X_train.columns
                     if X_train[col].isnull().any()]

In [51]:
print(cols_with_missing)

['Embarked']

In [52]:
from sklearn.impute import SimpleImputer
myImputer=SimpleImputer()

In [53]:
missing_val_count_by_column = (X_train.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

Embarked    2
dtype: int64

In [57]:
X_train=reduced_X_train

In [42]:
X_valid = X_valid.drop('Age', axis=1)

In [58]:
s = (X_train.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['Name', 'Sex', 'Ticket', 'Embarked']

In [46]:
X_train.head()

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Embarked
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,0,2,2678,15.2458,C
439,440,0,2,"Kvillner, Mr. Johan Henrik Johannesson",male,0,0,C.A. 18723,10.5000,S
817,818,0,2,"Mallet, Mr. Albert",male,1,1,S.C./PARIS 2079,37.0042,C
378,379,0,3,"Betros, Mr. Tannous",male,0,0,2648,4.0125,C
491,492,0,3,"Windelov, Mr. Einar",male,0,0,SOTON/OQ 3101317,7.2500,S

In [48]:
X_train=X_train.drop('Name',axis=1)

In [49]:
X_valid=X_valid.drop('Name',axis=1)

In [59]:
X_train.head()

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Embarked
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,0,2,2678,15.2458,C
439,440,0,2,"Kvillner, Mr. Johan Henrik Johannesson",male,0,0,C.A. 18723,10.5000,S
817,818,0,2,"Mallet, Mr. Albert",male,1,1,S.C./PARIS 2079,37.0042,C
378,379,0,3,"Betros, Mr. Tannous",male,0,0,2648,4.0125,C
491,492,0,3,"Windelov, Mr. Einar",male,0,0,SOTON/OQ 3101317,7.2500,S

In [63]:
X_train.head()

,PassengerId,Survived,Pclass,Sex,SibSp,Parch,Ticket,Fare,Embarked
140,141,0,3,female,0,2,2678,15.2458,C
439,440,0,2,male,0,0,C.A. 18723,10.5000,S
817,818,0,2,male,1,1,S.C./PARIS 2079,37.0042,C
378,379,0,3,male,0,0,2648,4.0125,C
491,492,0,3,male,0,0,SOTON/OQ 3101317,7.2500,S

In [67]:
from sklearn.preprocessing import LabelEncoder

# Make copy to avoid changing original data 
label_X_train = X_train.copy()
label_X_valid = X_valid.copy()
# Apply label encoder to each column with categorical data
label_encoder = LabelEncoder()
for col in object_cols:
   
    label_X_valid[col] = label_encoder.transform(X_valid[col])

KeyError: 'Name'